<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Velocity - {% block title %}{% endblock %}</title>
    <style>
        body { background-color: #0f172a; } /* Deep dark navy/purple */
        .glass-card {
            background: rgba(30, 27, 75, 0.7);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(139, 92, 246, 0.3);
        }
    </style>
</head>
<body class="text-purple-100 bg-slate-950 min-h-screen">
    {% block content %}{% endblock %}
    <script>
        feather.replace();
        
        function toggleSidebar() {

            document
                .getElementById("sidebar")
                .classList.toggle("-translate-x-full");

            document
                .getElementById("sidebarOverlay")
                .classList.toggle("hidden");
        }

        function closeSidebar() {

            document
                .getElementById("sidebar")
                .classList.add("-translate-x-full");

            document
                .getElementById("sidebarOverlay")
                .classList.add("hidden");
        }
    </script>
</body>
</html>